.menu {
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    background: #0074D9;
}

.menu-item {
    display: inline-block;
    padding-right: 20px;
}
.menu-item:last-child {
    padding-right: 0;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.menu-link.active {
    text-decoration: underline;
}