.widget {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #0b0b0b;
    font-size: responsive;
}

.widget :global .react-datepicker__input-container {
    display: block;
    width: 100%;
}

.loading-icon {
    display: none;
    /* It loads too fast, going to omit this */
}

@media (min-width: 800px) {
    .widget {
        max-width: none;
        display: flex;
        flex: 1 1 0;
    }
    .rates {
        flex: 0 0 350px;
    }
}