@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:900');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: responsive;
}

body { margin: 0; }
