@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800i');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open sans', sans-serif;
  font-size: responsive;
}

body { margin: 0; }
