.header {
    margin: 0;
    padding: 20px;
    font-weight: 800;
    font-style: italic;
    font-size: responsive 24px 44px;
    background: lightblue;
    text-decoration: none;
    color: #0b0b0b;
}